.styles {
  background-image: url(https://i.ibb.co/zbvfjzL/F-2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

ion-content {
  width: calc(100% + 15px);
}
ion-content::part(scroll) {
  padding-right: 15px;
}

@font-face {
  font-family: comicNeue;
  src: url("../assests/fonts/comicNeue.wof2");
}

* {
  font-family: comicNeue;
}
