body {
  font-family: "Comic Neue";
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.project-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
  height: 300px;
}

.ios.title-default {
  padding-inline: unset;
}

.nav-buttons {
  font-family: "Comic Neue";
}

ion-app.styles {
  --background: url(https://i.ibb.co/zbvfjzL/F-2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
